#mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
}

.dark,
.dark * {
    background-color: #292929;
    color: #ffffff;
    border-color: #ffffff;
}

.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
}